#div1
{
    margin-top: 250px;
    height: 400px;
}

#div2
{
    height: 350px;
    padding: 15px;
}

.position-absolute
{
    left: 85px;
    top: 55px;
}

body
{
    background-image: url("images/black.jpg");
}

strong.lgris
{
    color:#FE7F2D;
}

label.lgris
{
    color:#FE7F2D;
}


