#divconsulta
{
    margin-top: 330px;
    height: 440px;
}

#div4
{
    margin: 15px;
    padding: 10px;
    
}
#divconsulta2
{
    border-style: solid;
    margin: 15px;
}

.position-absolute
{
    left: 85px;
    top: 55px;
}

body
{
    background-image: url("images/black.jpg");
}

strong.lgris
{
    color:#FE7F2D;
}









